:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 135deg, #81FBB8 10%, #30a46c 100%);
  
  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient( 135deg, #81FBB8 10%, #30a46c 100%);
  --vp-home-hero-image-filter: blur(150px);

  /* brand 按钮背景色 */
  --vp-button-brand-bg: #30a46c;
  /* 字体 与 鼠标悬停 颜色 */
  --vp-c-brand-1: #30a46c;
}
